<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<body>
    <%- include('includes/nav.ejs') %>

    <main>

        <% if( HashProduct > 0){ %>

            <div class="grid">
                <% for(let product of prods) { %>
                    <article class="card product-item">
                        <header class="card-header">
                            <h1 clas="product_title">
                                <%= product.title %>
                            </h1>
                        </header>
                        <div class="card_image">
                            <img src="" alt="">
                        </div>
                        <div class="card_content">
                            <h2 class="product_price">$19.88</h2>
                            <p class="product_description">A very interesting book about so many even more interesting
                                things</p>
                        </div>
                        <div class="card_action">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% }else{ %>
                <h1>No Products Found</h1>
                <% } %>
    </main>
<%- include('includes/end.ejs') %>